# === Postgres Example Target (if used) ===     [ Using postgres in Docker ]
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

# === Github PAT ===
GITHUB_PAT=<your_token> # only for manual testing


# === Notion credentials ===
NOTION_TOKEN=<your_token>   # only for manual testing