# === Postgres Example Target (if used) ===     [ Using postgres in Docker ]
# DATABASE_URL=postgresql://postgres:supersecretpassword@localhost:5432/postgres

# Postgres via Neon DB: 
DATABASE_URL=<your connection string from neondb>
